{% extends 'base.html' %}
{% load static %}

{% block styles %}
{{block.super}}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock styles%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <div class="row">
                <div class="stories">
                    <div class=" card story" style=" overflow-x: scroll; display: flex; flex-direction:row; padding: 10px 10px; ">
                        {% for story in stories %}
                        <img src="{{story.story.url}}" id="story-image" style="border-radius: 50%; border: 2px  solid rgb(248, 84, 111); padding: 2px;margin: 5px 5px 5px 5px; display: flex; flex-direction: row; justify-content: flex-start;" height="70" width="70" alt="">
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% for image in images %}
            <div class="card mb-4">
                <div class="card-header">
                    <img src="{{image.profile.picture.url}}" class="rounded-circle border ml-3 mt-2  mr-3" alt="" width="35" height="35">
                    <div class="post-info">
                        <div class="post-name">{{image.user.username}}</div>
                        <div class="post-location">{{image.profile.location}}</div>
                    </div>
                    <div class="options">
                        <i class="bi bi-three-dots"></i>
                    </div>
                </div>
                <div class="cardy mb-4">
                    <a href="{% url 'comment' image.id %}">
                        <div class="card-text">
                            <img src="{{image.image.url}}"  class="card-img" width="100%"/>
                        </div>
                    </a>
                </div>
                <div class="engagement ml-2">
                    <button class="btn btn-sm" type="submit" name="image_id" value="{{image.id}}">
                        <a href="{% url 'comment' image.id %}">
                            <i class="bi bi-heart hearticon mx-auto" aria-hidden="true" ></i>
                        </a>
                    </button>

                    <button class="btn btn-sm" type="submit">
                        <a href="{% url 'comment' image.id %}">
                            <i class="bi bi-chat hearticon mx-auto" aria-hidden="true"></i>
                        </a>
                    </button>
                    <button class="btn btn-sm" type="submit" name="image_id" value="{{image.id}}">
                        <a href="{% url 'comment' image.id %}">
                            <i class="bi bi-send hearticon mx-auto" aria-hidden="true" ></i>
                        </a>
                    </button>
                    <button class="btn btn-sm" type="submit" style="float: right;">
                        <a href="{% url 'comment' image.id %}">
                            <i class="bi bi-bookmark hearticon mx-auto"  aria-hidden="true"></i>
                        </a>
                    </button>
                </div>
                <div class="caption">
                    <a href=""><h6>{{image.user.username}}</h6></a>
                    <span>{{image.caption}}</span>
                </div>
                <div class="viewall">
                    <span class="ml-4 mb-1"><strong>{{image.likes.count}} like{{image.likes.count|pluralize}}</strong></span>
                    <span class="text-secondary com ml-4"><a href="{% url 'comment' image.id %}">view all {{image.comments.count}} comment{{image.comments.count|pluralize}}</a></span>
                </div>
                
                <div class="allcomments mb-4">
                {% for comment in image.comments.all|slice:'2' %}
                <div class="comment">
                    <div class="viewcom">
                        <strong>{{ comment.image.user.username }}</strong>
                        <span class="text-secondary"><p>{{ comment.comment }}</p></span>
                    </div>
                </div>
                {% empty %}
                {% endfor %}
                    <div class="time-posted">
                        <p >{{image.created|timesince}} AGO</p>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 mt-4 userinfo">
            <div class="row">
                <div class="col-md-3 ml-2" style="margin-top: 5%;">
                    <img class="rounded-circle user-img" src="{{ user.profile.picture.url }}" height="55px" width="55px">
                </div>
                <div class="col-md-6 mt-4 user-detail">
                    <span class=" text-secondary"></span> <br>
                    <span class=" inname">{{ user.profile.user.username }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="card mt-4 mr-2 ml-2">
                        <div class="card-title text-secondary mt-2 mr-2 ml-2" style="text-align: center;">Suggestions</div>
                        {% for user in users %}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 mr-3 mt-1 mb-2">
                                    <img class="img-responsive" src="{{ user.profile.picture.url }}"
                                         width="55px" height="55px" style="border-radius: 50%;">
                                </div>
                                <div class="col-md-6 mr-2 mt-2">
                                    <span><a href="/profile/{user.profile.user}" style="text-decoration: none; color:black; text-align: right;">{{user.profile.user.username}}</a></span>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <p class="text-center mt-5">All rights reserved. &copy; 2022</p>
</div>


{% endblock %}

{% block scripts%}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}


