{% extends 'base.html' %}
{% load static %}

{% block styles %}
{{block.super}}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock styles%}

{% block content %}

<!-- <div class="post-story">
    
    <div class="posts">
        
        <div class="card" id="post">
            <div class="card-header post-header">
                <div class="profile-image">
                    <img src="{{post.profile.picture.url}}" height="30" style="border-radius: 50%; padding: 0; margin: 0;display: inline-block; width: 30px; border-radius: 50%;" alt="">
                </div>
                <div class="post-info">
                    <div class="post-name">{{request.user}}</div>
                    <div class="post-location">Nairobi</div>
                </div>
                <div class="options">
                    <i class="bi bi-three-dots"></i>
                </div>
            </div>
            <div class="posting">
                <img src="{{post.image.url}}" alt="" style="width: 100%;">
            </div>
            <div class="engagement">
                <a href="/like/{{post.id}}" id="like">
                    <i class="bi bi-heart"></i>
                </a>
                <a href="">
                    <i class="bi bi-chat"></i>
                </a>
                <a href="">
                    <i class="bi bi-send"></i>
                </a>
                <a href="">
                    <i class="bi bi-bookmark"></i>
                </a>
            </div>
            <div class="likes">
                <span><p id="like-count">{{post.likes.count}}likes</p></span>
                
            </div>
            <div class="caption">
                <a href=""><h6>{{post.profile.user}}</h6></a>
                <span><p>{{post.caption}}</p></span>
            </div> 
            <div class="time-posted">
                {{ post.created | timesince }} AGO
            </div>
        </div>
       
    </div>
</div> -->


<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <!-- <div class="row">
                <div class="stories">
                    <div class="story">
                        <img src="{{story.story.url}}" id="story-image" alt="">
                    </div>
                </div>
            </div> -->
            {% for image in images %}
            <div class="card mb-4">
                <div class="card-header">
                    <img src="{{image.profile.picture.url}}" class="rounded-circle border ml-3 mt-2  mr-3" alt="" width="35" height="35">
                    <div class="post-info">
                        <div class="post-name">{{profile.user.username}}</div>
                        <div class="post-location">Nairobi</div>
                    </div>
                    <div class="options">
                        <i class="bi bi-three-dots"></i>
                    </div>
                </div>
                <div class="cardy mb-4">
                    <a href="{% url 'comment' image.id %}">
                        <div class="card-text">
                            <img src="{{image.image.url}}"  class="card-img" width="100%"/>
                        </div>
                    </a>
                </div>
                <div class="iconic ml-2">
                    <button class="btn btn-sm" type="submit" name="image_id" value="{{image.id}}">
                        <a href="{% url 'comment' image.id %}">
                            <i class="bi bi-heart hearticon mx-auto" aria-hidden="true" ></i>
                        </a>
                    </button>
                    <button class="btn btn-sm" type="submit">
                        <a href="{% url 'comment' image.id %}">
                            <i class="bi bi-chat hearticon mx-auto" aria-hidden="true"></i>
                        </a>
                    </button>
                </div>
                <span class="ml-4 mb-1"><strong>{{image.likes.count}} like{{image.likes.count|pluralize}}</strong></span>
                <span class="text-secondary ml-4 viewall"><a href="{% url 'comment' image.id %}">view all {{image.comments.count}} comment{{image.comments.count|pluralize}}</a></span>
                <div class="allcomments mb-4">
                {% for comment in image.comments.all|slice:'2' %}
                <div class="comment">
                    <div class="ml-4"><strong>{{ comment.user.user.username }}</strong>
                            <span class="text-secondary">{{ comment.comment }}</span>
                    </div>
                </div>
                {% empty %}
                {% endfor %}
                <p class="text-secondary ml-4">{{image.created|timesince}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 mt-4 userinfo">
            <div class="row">
                <div class="col-md-3 ml-2" style="margin-top: 5%;">
                    <img class="rounded-circle user-img" src="{{ user.profile.picture.url }}" height="55px" width="55px">
                </div>
                <div class="col-md-6 mt-4 user-detail">
                    <span class=" text-secondary"></span> <br>
                    <span class=" inname">{{ user.profile.name }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="card mt-4 mr-2 ml-2">
                        <div class="card-title text-secondary mt-2 mr-2 ml-2 ">Suggestions</div>
                        {% for user in users %}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 mr-3 mt-1 mb-2">
                                    <img class="img-responsive" src="{{ image.profile.picture.url }}"
                                         width="55px" height="55px">
                                </div>
                                <div class="col-md-6 mr-2 mt-2">
                                    <span></span>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <p class="text-center mt-5">All rights reserved. &copy; 2022</p>
</div>


{% endblock %}

{% block scripts%}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}


