{% load static %}

<nav class="navbar navbar-expand-lg fixed-top navbar-light" id="mainNav" >
    <div class="container">
        <a href="/" class="navbar-brand pr-5">
            <h2 class="d-inline-block align-top">Instagram</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="form">
            <form action="">
                <input type="search" class="form-control" name="search" placeholder="search">
            </form>
            
        </div>
       
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto icons">
                <li class="nav-item">
                    <a href="">
                        <i class="bi bi-house-door-fill"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <i class="bi bi-messenger"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <i class="bi bi-plus-circle"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <i class="bi bi-compass"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <i class="bi bi-heart"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <i class="bi bi-person-circle"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>