body{
    font-family: 'Poppins' sans-serif;
    background-color: rgb(235, 235, 235);
   
}
nav {
    background-color: white;
    width: 70%;
    margin: auto;
    /* height: 10vh; */
    
}

.navbar-brand h2 {
    font-family: 'Satisfy', cursive;  
    margin-left: 9%;
}
.form form{
    width: 100%;
    margin: auto;
    margin-left: 50%;
    
}
.form input {
    background-color: rgb(219, 219, 219);
    text-align: center;
}
.form input::placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    
}
ul.icons{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
ul.icons li a i{
    color: black;
}
.feed{
    width: 50%;
    margin: auto;
}
