{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for post in posts %}
<div class="card">
    <div class="card-header">
        <div class="profile-image">

        </div>
        <div class="post-image">
            <div class="post-name">{{post.profile.user}}</div>
            <div class="post-location">Nairobi</div>
        </div>
        <div class="options">
            <i class="bi bi-three-dots"></i>
        </div>
    </div>
    <div class="posting">
        <img src="{{post.image.url}}" alt="">
    </div>
</div>
{% endfor %}
{% endblock %}


